.msgbox_main-container {
    display: flex;
    margin:30px 40px 30px 40px;
}

.msgbox_title{
  text-transform: uppercase;
  color: #536C79;
}

.msgbox_details{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.msgbox_icon {
    padding-right:60px;
    padding-left:20px;
    display: flex;
    align-items: center;
}

.msgbox_item {
    display: flex;
}

/************** MOBILE UI ***************/

@media screen and (max-width: 600px) {

.msgbox_main-container {                        // Mobile
    flex-direction: column;
    align-items: center;
}
.msgbox_title{
  text-align: center;
  justify-content: center;
  padding: 1rem 5px 0 5px;
}
.msgbox_item {                                  // Mobile
    justify-content: center;
    text-align: center;
}

.msgbox_icon {                                  // Mobile
    padding-right: 0;
    padding-left: 0;
    justify-content: center;
}

}
